*{
  font-family: "Helvetica", sans-serif;
  color: white;
  background-color: black;
}

body {
  align-content: center;
  background-color: mediumaquamarine;
  margin:0; 
  height: 100%;
  width: 100%;
}

h1 {
  text-align: center;
  color: red;
}

td {
  background-color: yellow;
  color: blueviolet;
  padding-top: 25px;
 border: 5px; 
}

th {
  background-color: red;
  color: blueviolet;
  padding-top: 25px;
 border: 5px;
}
#seattle {
  text-align: center;
  list-style-type: none;
  }

#seattle h2 {
  
  color: blue;
}

#seattle li {
  color: blue;
  text-decoration: none;
}

#tokyo {
  text-align: center;
  list-style-type: none;
  }

#seattle h2 {
  
  color: blue;
}

#seattle li {
  color: blue;
  text-decoration: none;
}



